# Enable the rewrite engine
RewriteEngine On
RewriteBase /

# Handle JavaScript files to serve them with the correct MIME type for modules
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Content-Type "application/javascript" "expr=%{REQUEST_URI} =~ m#\.m?js$#"
</IfModule>

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
